<!DOCTYPE html>
<html>

<head>
  <title>TourApp Account Reactivation Mail</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    /* Base */
    body {
      margin: 0;
      padding: 0;
      min-width: 100%;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #f